@font-face {
	font-family: "Gilam Regular";
	src: url("../fonts/gilam-black-demo-regular/gilam-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Circe";
	src: url("../fonts/Circe/circe.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
