body{
   background-color: #171717;
   width: 1200px;
   margin-left: 230px;
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 166px;
}
.contact{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 420px;
}
.coloured{
   font-family: "Circe";
   color: #E4B564;
   font-size: 19px;
   line-height: 28px;
}
.numb{
   font-family: "Circe";
   color: #FFFFFF;
   font-size: 19px;
   line-height: 28px;
}
.header-button{
   display: flex;
   background-color: #171717;
   align-items: center;
   justify-content: space-around;
   width: 218px;
   height: 50px;
   border: 1px solid #E4B564;
   color: #E4B564;
}
.header-button-cell a{
   font-family: "Circe";
   font-size: 18px;
   line-height: 30px;
   color: #E4B564;
   text-decoration: none;
}
.box-1_line{
   font-family: 'Gilam Regular';
   display: flex;
   color: #FFFFFF;
   flex-direction: column;
   justify-content: space-around;
   height: 166px;
}
.box-1_line_title{
   font-size: 50px;
   line-height: 28px;
}
.box-1_line_text{
   width: 1182px;
   font-size: 20px;
   line-height: 28px;
}
.box-1_container_grid{
   height: 963px;
   display: grid;
   font-family: 'Gilam Regular';
   color: white;
   justify-items: center;
   align-items: center;
   font-size: 20px;
   line-height: 28px;
   list-style-type: none;
  
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 24px;
   grid-template-areas:
   " item1 item1 item2 item2 item3 item3"
   " item4 item4 item4 item5 item5 item5"
}
.box-1_item1{
   background-color: #634F2C;
   grid-area: item1;
 }
.box-1_item2{
   background-color: #B4A385;
   text-align: center;
   grid-area: item2;
}
.box-1_item3{
   background-color: #E4B564;
   grid-area: item3;
}
.box-1_item4{
   background-color: #635A4A;
   grid-area: item4;
}
.box-1_item5{
   background-color: #B08C4D;
   grid-area: item5;
}
.box-1_container_grid li{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.box-2_line_title{
   font-family: 'Gilam Regular';
   font-size: 50px;
   line-height: 28px;
   color: #FFFFFF;
   margin-top: 161px;
   margin-bottom: 94px;
}
.box-2_container{
   display: flex;
   font-family: 'Gilam Regular';
   width: 1200px;
   color: white;
   font-size: 20px;
   line-height: 28px;
   list-style: none;
   height: 897px;
}
.box-2_container1{
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   width: 386px;
}
.box-2_item1{
   box-sizing: border-box;
   background-color:#0E0E0E;
   order:1;
   width: 100%;
   height: 313px;
   padding-left: 52px;
   padding-top: 44px;
}
.box-2_item2{
   box-sizing: border-box;
   background-color: #1F1F1F;
   order: 2;
   width: 100%;
   height: 560px;
   padding-left: 52px;
   padding-top: 44px;
}
.box-2_container2{
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content:flex-start;
   width: 386px;
   margin-left: 20px;
}
.box-2_item3{
   box-sizing: border-box;
   background-color:#242424;
   width: 100%;
   height: 439px;
   order:1;
   padding-left: 52px;
   padding-top: 44px;
}
.box-2_item4{
   box-sizing: border-box;
   background-color: #E4B564;
   width: 100%;
   height: 405px;
   order:2;
   padding-left: 52px;
   padding-top: 44px;
   margin-top: 20px;
}
.box-2_container3{
   box-sizing: border-box;
   display: flex;
   width: 386px;
   align-items:flex-end;
   flex-direction: column;
   justify-content:space-between;
   margin-left: 20px;
}
.box-2_item5{
   box-sizing: border-box;
   background-color: #1F1F1F;
   width: 100%;
   height: 255px;
   order:1;
   padding-left: 52px;
   padding-top: 44px;
}
.box-2_item6{
   box-sizing: border-box;
   background-color:#0E0E0E;
   width: 100%;
   height: 313px;
   order:2;
   padding-left: 52px;
   padding-top: 44px;
}
.box-2_item7{
   box-sizing: border-box;
   background-color:#0A0909;
   width: 100%;
   height: 277px;
   order:3;
   padding-left: 52px;
   padding-top: 44px;
}
.box-3_line {
   background-color: #0E0E0E;
   display: flex;
   height: 272px;
   justify-content: space-between;
   align-items: center;
   margin-top: 191px;
}
.box-3_line_title{
   font-family: 'Gilam Regular';
   font-size: 50px;
   line-height: 28px;
   color: #FFFFFF;
}
.box-3_line_button{
   display: flex;
   background-color: #171717;
   width: 218px;
   height: 50px;
   border: 1px solid #E4B564;
   align-items: center;
   justify-content: center;
}
.box-3-button-project a{
   color: #E4B564;
   font-family: "Circe";
   font-size: 18px;
   line-height: 30px;
   text-decoration: none;
}
.box-3_container_grid{
   display: grid;
   background-color: #0E0E0E;
   color: white;
   font-family: 'Gilam Regular';
   font-size: 20px;
   line-height: 28px;
   justify-items: center;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 391px);
   grid-template-areas:
   " item1 item2 item3 "
   " item4 item5 item6 " 
}
.box-3_item1{
   background-color: #634F2C;
   grid-area: item1;
}
.box-3_item1 {
   background-color: #634F2C;
   grid-area: item1;
}
.box-3_item2 {
   background-color: #B4A385;
   flex-direction: column;
   text-align: center;
   grid-area: item2;
}
.box-3_item3 {
   background-color: #E4B564;
   grid-area: item3;
}
.box-3_item4 {
   background-color: #635A4A;
   grid-area: item4;
}
.box-3_item5 {
   background-color: #B08C4D;
   grid-area: item5;
}
.box-3_item6 {
   background-color: #634F2C;
   grid-area: item6;
}
.box-3_container_grid li {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
